/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 25%;
}

.cell{
  float: left;
  width: 30%;
}

input{
  width: 100%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
